<!DOCTYPE html>
<html>
  <head>
    <title>Our First Rails App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>The Spoon</h1>
    <%= yield %>
    <p>Made with love at Le Wagon</p>
  </body>
</html>
